<a href="https://colab.research.google.com/github/carloslme/ml_algorithms/blob/main/lr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Logistic Regression: Fit and evaluate a model

Using the Titanic dataset from [this](https://www.kaggle.com/c/titanic/overview) Kaggle competition.

In this section, we will fit and evaluate a simple Logistic Regression model.

### Read in Data

![CV](https://drive.google.com/uc?export=view&id=1WpIA0r36QkKMHSTXPOpspk3A5-mtRoeM)
![Cross-Val](https://drive.google.com/uc?export=view&id=1CgmPg-7XQ2JNjpVEKtlqGAwnqnyX-m56)

In [12]:
import joblib
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)
warnings.filterwarnings('ignore', category=DeprecationWarning)

tr_features = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/machine_learning/logistic_regression/train_features.csv')
tr_labels = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/machine_learning/logistic_regression/train_labels.csv', header=None)

In [13]:
tr_features

     Pclass  Sex        Age      Fare  Family_cnt  Cabin_ind
0         2    0  62.000000   10.5000           0          0
1         3    0   8.000000   29.1250           5          0
2         3    0  32.000000   56.4958           0          0
3         3    1  20.000000    9.8250           1          0
4         2    1  28.000000   13.0000           0          0
..      ...  ...        ...       ...         ...        ...
529       3    1  21.000000    7.6500           0          0
530       1    0  29.699118   31.0000           0          0
531       3    0  41.000000   14.1083           2          0
532       1    1  14.000000  120.0000           3          1
533       1    0  21.000000   77.2875           1          1

[534 rows x 6 columns]

### Hyperparameter tuning

![C](https://drive.google.com/uc?export=view&id=1_AJR6lV8VHIM3hSOtLZe0-Hyq1kcNTjP)

In [14]:
def print_results(results):
    print('BEST PARAMS: {}\n'.format(results.best_params_))

    means = results.cv_results_['mean_test_score']
    stds = results.cv_results_['std_test_score']
    for mean, std, params in zip(means, stds, results.cv_results_['params']):
        print('{} (+/-{}) for {}'.format(round(mean, 3), round(std * 2, 3), params))

In [15]:
lr = LogisticRegression()
parameters = {
    'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000]
}

cv = GridSearchCV(lr, parameters, cv=5)
cv.fit(tr_features, tr_labels.values.ravel())

print_results(cv)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

BEST PARAMS: {'C': 1}

0.67 (+/-0.077) for {'C': 0.001}
0.708 (+/-0.098) for {'C': 0.01}
0.777 (+/-0.134) for {'C': 0.1}
0.8 (+/-0.118) for {'C': 1}
0.794 (+/-0.116) for {'C': 10}
0.794 (+/-0.116) for {'C': 100}
0.794 (+/-0.116) for {'C': 1000}

In [16]:
cv.best_estimator_

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## Write out pickled model

In [18]:
joblib.dump(cv.best_estimator_, '/content/drive/MyDrive/Colab Notebooks/machine_learning/logistic_regression/LR_model.pkl')

['/content/drive/MyDrive/Colab Notebooks/machine_learning/logistic_regression/LR_model.pkl']